<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <meta charset="UTF-8">
        <style>
            #google_login_btn {
                background: url('./images/btn_google_signin_dark_normal_web@2x.png') no-repeat;
                background-size: 100% 100%;
                cursor: pointer;
                width: 200px;
                height: 50px;
            }
        </style>
    </head>
    <body>
        <form method="GET" action="/auth/google">
            <input id="google_login_btn" type="submit" name="" />
        </form>
    </body>
</html>